.section-contact {
    border-top: 1px solid #ddd;
    display: flex;

    justify-content: center;
    height: 80vh;

    padding: 1rem 0;

    &__container {
        display: flex;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10rem;
        justify-content: center;
        color: #444;
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        background-image: linear-gradient(118deg, #fbaf7c, #f7c96b 100%);
    }
}

.contact-img {
    width: 100%;
    height: 100%;
    display: block;
}
.contact-img-container {
    // border: 1px solid red;
    width: 650px;
}

.section-contact-description {
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 5px;
    color: white;

    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.9;
        transform: scale(1.07, 1.05);
        background-color: #444;
    }
}

.section-contact-email {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;

    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.9;
        transform: scale(1.07, 1.05);
        background-color: #444;
    }
}
