.section {
  height: 100vh;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(248, 248, 248);

  &__content {
    &--tag {
      text-transform: uppercase;
      text-align: center;
    }
    &--title {
      margin: 1rem 0;
      text-align: center;
      // font-size: 2rem;
      font-size: 1.7rem;
      color: black;
      font-family: "Roboto", sans-serif;
      font-weight: 900;
    }
    &--description {
      // font-size: 1.3rem;
      font-size: 10px;
      color: #444;
      // margin-bottom: 2rem;
    }
  }
}

.color-tag {
  background-color: $color-primary-yellow;
  padding: 7px 3rem;
  border-radius: 100rem;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 600;
}

.features {
  // margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.feature {
  // box-shadow: 1px 3px 5px rgb(0 0 0 / 10%), -1px -3px 5px rgb(0 0 0 / 10%);
  padding: 2rem 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
  margin-left: 0px;
  color: #444;
  border-radius: 1rem;
  width: 15vw;
  margin-left: 5rem;
  background-color: white;

  &__icon {
    background-image: linear-gradient(
      62deg,
      $color-primary-orange 0%,
      $color-primary-yellow 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 7rem;
    border-radius: 30%;
    padding: 1rem;
    fill: white;
    margin-bottom: 2rem;
  }
  &__name {
    font-weight: 600;
    // font-size: 1.7rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  &__description {
    // font-size: 1.4rem;
    font-size: 1rem;
    text-align: center;
  }
}
