.header {
    position: relative;
    height: 100vh;
    // background-image: linear-gradient(118deg, #fbab7e 0%, #f7ce68 100%);

    &__content {
        height: 90vh;
        // background-color: rgb(255, 247, 238);
        display: flex;
        justify-content: center;
        align-items: center;

        &--col-text {
            color: #444;
        }

        &--col-image {
            width: 45%;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // padding: 1rem;

    &__links {
        display: flex;
        list-style: none;
        height: 100%;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    &__item {
        // margin-left: 5rem;
        margin-left: 3.5rem;
    }

    &__item &__link {
        color: #444;
        text-decoration: none;
        // font-size: 1.6rem;
        font-family: inherit;
        font-weight: 500;
        border-radius: 5rem;
        padding: 1rem;
        position: relative;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: ".";
            color: transparent;
            background: #444;
            height: 2px;
        }
    }
}

.nav__link:hover::after {
    animation: fill 0.5s;
    animation-fill-mode: forwards;
}

.logo {
    width: 150px;
    padding: 2.3rem;

    img {
        width: 100%;
        height: auto;
    }
}

.title__primary {
    // font-size: 7rem;
    font-size: 4rem;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    // font-family: "Montserrat", sans-serif;
    line-height: 1.1;
    position: relative;
    z-index: 2;
}

.title__secondary {
    margin-top: 3rem;
    // font-size: 2.4rem;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.highlight {
    position: relative;
}

.highlight::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: linear-gradient(
        118deg,
        $color-primary-orange 0%,
        $color-primary-yellow 100%
    );
}

.button:link,
.button:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all 0.2s;
    position: relative;
    font-weight: 500;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.buttonPrimary {
    background-color: $color-primary-orange;
    // font-size: 1.7rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    &::after {
        background-color: $color-primary-yellow;
    }
}

.button:hover::after {
    // transform: scale(1.3);
    transform: scaleX(1.3) scaleY(1.6);
    opacity: 0;
}

.button-animated {
    animation: buttonAnimation 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}

@keyframes buttonAnimation {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 1px;
    }
}
